.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #4D47C3;
    box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
    border-radius: 9px;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #3b34bf;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 2px 31px rgba(77, 71, 195, 0.2);
    }

    &:active {
        transform: translateY(1px);
    }
}